<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="edu.csuci.lazynotetaker">


    <application

        android:allowBackup="true"
        android:name="edu.csuci.lazynotetaker.NoteApp"

        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"

        android:theme="@style/Theme.LazyNoteTaker"
        android:dataExtractionRules="@xml/data_extraction_rules">


        <provider
            android:name="edu.csuci.lazynotetaker.feature_note.presentation.add_edit_note.ComposeFileProvider"
            android:authorities="edu.csuci.lazynotetaker.fileprovider"
            android:grantUriPermissions="true"
            android:exported="false">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/filepaths" />
        </provider>

        <activity
            android:name="edu.csuci.LazyNoteTaker.feature_note.presentation.MainActivity"
            android:exported="true"
            android:theme="@style/Theme.LazyNoteTaker">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>